*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: #f4f6f8;
    font-family: var(--font);
    flex-direction: column;
    height: 100%;
    width: 100%;
}