*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: #f4f6f8;
    font-family: var(--font);
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: var(--font-color);
    line-height: 1.5;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
}

h1{
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* h2{
  font-size: 1.25rem;
} */

h3{
  font-size: 2rem;
}
h4{
  font-size: 1.9rem;
}

h5{
  font-size: 1rem;
}

h6{
  font-size: 1rem;
}

a{
  font-size: 1.6rem;
  text-decoration: none;
}

p{
  font-family: "Montserrat", sans-serif;
}