/*------------Conteúdo do Equipamentos------------*/



/*Barra de Pesquisa e Filtragem*/

.barra-pesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-min);
}

.pesquisa-enter {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--black-color);
    flex: 1;
}

.filter-select {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: var(--radius);
}

/* Badges de Status*/
.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
}

#emuso {
    background-color: #dcfce7;
    color: goldenrod;
}

#manutencao {
    background-color: #fef3c7;
    color: #b11818;
}

#disponivel {
    background-color: #e0f2fe;
    color: #24a344;
}