@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
/*Adicionando fonts e algumas variaveis, obs: olha o final do arquivo login.css e a estruturação do projeto, se não entender
algo me chama que eu ti explico oq eu fiz e pq, na página de login eu adicionei uns detalhes a mais, acho que se a organização
do projeto for melhor ele sai mais rápido*/
:root {
    --cor-primaria: #2277E5;
    --cor-escura: #10386B;
    --cor-primaria-escura: #1C5FB8;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-size-titulo: 40px;
    --font-size-subtitulo: 20px;
    --font-size-texto: 16px;
    --font-titulo: "Poppins", sans-serif;
}

body {
    display: flex;
    background-color: #f4f6f8;
    font-family: var(--font);
    flex-direction: column;
}


/*Cabeçalho*/

header {
    background-color: #2277E5;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #10386B;
    color: white;
}

main {
    display: flex;
}

/*Botão de usuário*/
.logo-user {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-container {
    position: relative;
    display: inline-block;
}

/* Modal Suspenso*/
.modal-popover {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.modal-popover.active {
    display: block;
}

.part-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/*Corpo*/
.site-body {
    display: flex;
    flex: 1;
}

/*Menu Lateral*/
.sidebar {
    width: 175px;
    background-color: #1C5FB8;
    min-height: 88.4vh;
    padding: 5px;
    border-right: 5px solid #10386B;
}

.sidebar ul{
    list-style: none;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: 0.2s;
    font-weight: bold;
}

.sidebar a:hover {
  color: #0A2242;
}

.sidebar li {
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: 0px;
}

/*---------------------------------------------------------------*/

/*Conteúdo Principal (todas as pages)*/
.main-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    align-items: center;
}


/*caixinha de balões*/
.ballons-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    height: fit-content;
}

.ballons-all h2 {
    font-size: 40px;
}

.ballons-all {
    display: block;
    width: 225px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
}

#ballon1 {
    background-color: #033b77;
}

#ballon2 {
    background-color: #24a344;
}

#ballon3 {
    background-color: goldenrod;
}

#ballon4 {
    background-color: #b11818;
}

/*Cards dos Outros Menus*/

.tabelas-afins {
    max-width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.cards-dash {
    display: flex;
    flex-direction: column;
    border: 5px solid #033b77;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.cards-dash button {
    cursor: pointer;
    max-width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #033b77;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.cards-dash button a {
    text-decoration: none;
}

.cards-dash button:hover {
    color: #0A2242;
    background-color: white;
    transition: 0.7s;
    border: 2px solid #0A2242;
}

#card-acoes {
    gap: 10px;
}

#card-relatorio, #card-movimentacao {
    justify-content: space-between;
}


/*------------Conteúdo do Equipamentos------------*/

/*Barra de Pesquisa e Filtragem*/

.tabela-container {
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
}

thead {
    background-color: var(--cor-primaria-escura);
    border-bottom: 1px solid #e2e8f0;
    color: #ffffff;
    font-weight: bold;
}

th {
    padding: 12px 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
