/*Configurações Gerais*/

* {
    margin: 0px;
    padding: 0px;
}

.cadastro-login-corpo {
    background-image: linear-gradient(to right, #1e64b4, #4ef9ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img {
    height: 60px;
}

/*Configurações da Telinha de Login e Cadastro*/

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 450px;
    height: 350px;
    padding: 30px;
    border: 5px solid #042e5f;
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 1s ease-out forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#tela-cadastro {
    width: 650px;
    height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container h2 {
    text-align: center;
    font-size: 40px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;

}

.input-box input {
    width: 100%;
    height: 35px;
    border: 1px solid;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    padding: 5px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 25px;
    background-color: #042e5f;
    color: white;
    border-radius: 10px;
}
button:hover {
    background-color: #1e64b4;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.lembra-esquece {
    font-size: 14px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.lembra-esquece a {
    text-decoration: none;
    color: #042e5f;
    font-weight: bold;
}


p {
    font-size: 14px;
}

p a{
    text-decoration: none;
    color: #042e5f;
    font-weight: bold;
}
#cadInput {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#cadInput:hover{
    border-color: var(--cor-primaria);
    transition: border-color 0.5s ease;
}
#Title-Cad{
    font-family: var(--font-titulo);
}
