/*------------Conteúdo de Movimentações------------*/

/*Janelinha de Resumo de Movimentações*/

.resumo-mov {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.cartao {
    flex: 1;
    background-color: #fff;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.titulo-cartao {
    display: block;
    font-size: 0.85rem;
    color:#6b7280;
    margin-bottom: 8px;
}

.cartao-info {
    font-size: 1.45rem;
    font-weight: bold;
}

.texto-red {
    color: rgb(150, 37, 37);
}

.texto-green {
    color: rgb(14, 82, 14);
}

/**/