/*------------Conteúdo do Equipamentos------------*/

/* Badges de Status*/
.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
}

#emuso {
    background-color: #dcfce7;
    color: goldenrod;
}

#manutencao {
    background-color: #fef3c7;
    color: #b11818;
}

#disponivel {
    background-color: #e0f2fe;
    color: #24a344;
}