<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - FLF</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <main class="container" id="tela-cadastro">

        <img src="../static/img/logoflf.png">

        <form id="form-cad" action="{{ url_for('cadastro.cadastrar') }}" method="POST">

            <h2>Cadastrar Nova Conta</h2>

            <div class="lembra-esquece">
                <p>Insira as informações abaixo.</p>
            </div>

            <div class="input-box">
                <input type="text" id="cadNome" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="input-box">
                <input type="email" id="cadEmail" name="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="input-box">
                <input type="password" id="cadSenha" name="senha" placeholder="Digite sua senha" required>
            </div>

            <div class="input-box">
                <input type="text" id="cadTelefone" name="telefone" placeholder="Digite seu telefone" required>
            </div>

            <button type="submit">Entrar</button>
            <p>Já possui uma conta? <a href="{{ url_for('login.login') }}">Faça login</a></p>
        </form>
        
    </main>
</body>
</html>