<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Controle de Estoque - FLF</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <header>

            <div class="part-header">
                <img class="logo-user" src="../static/img/flflogoshort.png">
                <h1>CONTROLE DE ESTOQUE DE EQUIPAMENTOS</h1>
            </div>

            <div class="part-header">
                <p>usuário: {{ name }}</p>
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>

        </header>

        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for periferico in perifericos %}
                    <tr>
                        <td><p>{{ periferico[0] }}</p></td>
                        <td><p>{{ periferico[1] }}</p></td>
                        <td><p>{{ periferico[2] }}</p></td>
                        <td><p>{{ periferico[3] }}</p></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </body>
</html>