<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Controle de Estoque - FLF</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <header>

            <div class="part-header">
                <img class="logo-user" src="../static/img/flflogoshort.png">
                <h1>CONTROLE DE ESTOQUE DE EQUIPAMENTOS</h1>
            </div>

            <div class="part-header">
                <p>Marcelito</p>
                <div>
                    <button class="icon-btn">
                        <img class="logo-user" src="../static/img/user.png">
                    </button>

                    <!--Janela Modal da Conta-->
                    <div>

                    </div>
                </div>
            </div>

        </header>

        <div class="site-body">

            <nav class="sidebar">
                <ul>
                    <li>
                        <a href="#">
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="equipamentos.html">
                            Equipamentos
                        </a>
                    </li>
                    <li>
                        <a href="movimentacao.html">
                            Movimentações
                        </a>
                    </li>
                    <li>
                        <a href="relatorios.html">
                            Relatórios
                        </a>
                    </li>
                </ul>
            </nav>

            <main>

            </main>

        </div>

    </body>
</html>