<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Controle de Estoque - FLF</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <header>

            <div>
                <img class="butao" src="../img/menu.png">
            </div>

            <div id="butaoright">
                <a href="">
                    <img class="butao" src="../img/bell.png">
                </a>
                <a href="">
                    <img class="butao" src="../img/info.png">
                </a>
                <a href="">
                    <img class="butao" src="../img/user.png">
                </a>
            </div>
            
        </header>

        <main>

            <h1>CONTROLE DE ESTOQUE</h1>

            <div class="grade-container">
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
            </div>

            <script src="../js/script.js"></script>
            
        </main>

    </body>
</html>