<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Controle de Estoque - FLF</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body>
        <aside class="sidebar">
            <img src="../static/img/logoflf.png">
            <nav>
                <button onclick="navegarPara('dashboard')">Dashboard</button>
                <button onclick="navegarPara('inventario')">Estoque</button>
            </nav>
        </aside>

        <main>

            <section id="dashboard" class="page-active">
                <h1>Dashboard</h1>
                <div class="cards">
                    <div class="card">Total: </div>
                    <div class="card">Em Uso: </div>
                    <div class="card">Disponíveis: </div>
                </div>
            </section>

            <section id="inventario" class="page">
                <h1>Inventário de Equipamentos</h1>
                <button onclick="abrirModal()">+ Novo Check-out</button>

                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-estoque">
                        <tr>
                            <td>LAP-001</td>
                            <td>Notebook Dell XPS</td>
                            <td><span class="badge-disponivel">Disponível</span></td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>

        <div id="modal-checkout" class="modal">
            <div class="modal-content">
                <h2>Realizar Check-out</h2>
                <input type="text" placeholder="Código do Equipamento (QR Code)">
                <input type="text" placeholder="Nome do Responsável">
                <div class="modal-actions">
                    <button onclick="fecharModal()">Cancelar</button>
                    <button onclick="fecharModal()">Confirmar</button>
                </div>
            </div>
        </div>

        <script src="script.js"></script>
    </body>
</html>