<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            CONTROLE DE ESTOQUE - FLF
        </title>
        <link rel="stylesheet" href="../static/css/global.css">
    </head>

    <body>
        <header>

            <div class="part-header">
                <img class="logo-user" src="../static/img/flflogoshort.png">
                <h1>CONTROLE DE ESTOQUE DE EQUIPAMENTOS</h1>
            </div>

            <div class="part-header">
                <p>{{ name }}</p>
                <div class="icon-container">
                    <button id="btn-icon" class="icon-btn">
                        <img class="logo-user" src="../static/img/user.png">
                    </button>

                    <!--Janela Modal da Conta-->
                    <div id="modal-suspensao" class="modal-popover">
                        <h3>Login</h3>
                        <p>Alguma coisa para testar.</p>
                    </div>
                </div>
            </div>

        </header>

        <main>

            <div>
                <aside id="classbar" class="sidebar">
                    <nav>
                        <ul>
                            <li><a href="dashboard.html">Início</a></li>
                            <li><a href="equipamentos.html">Equipamentos</a></li>
                            <li><a href="#">Movimentações</a></li>
                            <li><a href="relatorios.html">Relatórios</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>

            <div class="main-content">
                <h2>Gerenciamento de Movimentações de Equipamentos</h2>

                <div class="barra-pesquisa">
                    <input type="text" placeholder="Pesquisar por modelo, patrimônio..." class="pesquisa-enter">
                    <select class="filter-select">
                        <option value="todos">Todos</option>
                        <option value="entrada">Entrada</option>
                        <option value="saida">Saída</option>
                    </select>
                    
                    <button>+ Nova Movimentação</button>
                    
                </div>
            </div>

        </main>

    </body>
</html>