<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            CONTROLE DE ESTOQUE - FLF
        </title>
        <link rel="stylesheet" href="../static/css/variables.css">
        <link rel="stylesheet" href="../static/css/elements.css">
        <link rel="stylesheet" href="../static/css/global.css">
        <script src="../static/js/script.js"></script>

        <!--Biblioteca Chart.js para os gráficos-->
        <script src="https://jsdelivr.net"></script>
    </head>

    <body>
        <header>

            <div class="part-header">
                <img class="logo-user" src="../static/img/flflogoshort.png">
                <h1>CONTROLE DE ESTOQUE DE EQUIPAMENTOS</h1>
            </div>

            <div class="part-header">
                <p>Usuário: {{ name }}</p>
                <div class="icon-container">
                    <button id="btn-icon" class="icon-btn">
                        <img class="logo-user" src="../static/img/user.png">
                    </button>

                    <!--Janela Modal da Conta-->
                    <div id="modal-suspensao" class="modal-popover"> 
                        <!--Inserir informações em relação a conta, ai decide se só vai ser nome, histórico e sair da conta-->
                        <h3 class="dropdown-item">Nome da Conta</h3>
                        <button class="dropdown-item">Perfil</button>
                        <button class="dropdown-item">Histórico</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item danger">Sair da Conta</button>
                    </div>
                </div>
            </div>

        </header>

        <main>

            <section id="classbar" class="sidebar">
                <aside>
                    <nav>
                        <ul>
                            <li><a href="/dashboard">Início</a></li>
                            <li><a href="/equipamentos">Equipamentos</a></li>
                            <li><a href="/emprestimo">Movimentações</a></li>
                            <li><a href="relatorios.html">Relatórios</a></li>
                        </ul>
                    </nav>
                </aside>
            </section>

            <section class="main-content">
                <h2>Relatórios Gerais do Sistema</h2>
                <div class="tabs-graficos">

                    <!--Vou precisar conectar ao Banco de Dados para aparecer as coisas, tô no processo-->
                    <div id="tabela-entra-sai" class="chart-container">
                            <canvas id="meuGrafico"></canvas>
                    </div>
                    
                </div>
            </section>

        </main>

    </body>
</html>